/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-color: #007bff;
    color: white;
    padding: 100px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    padding: 0;
    margin: 0;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.sign-up {
    background-color: #28a745;
}

.sign-up:hover {
    background-color: #218838;
}




@media (max-width: 768px) {
    .hero {
        padding: 50px 0;
    }
    .heading{
        padding:0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    
}